.testimonials__container {
  max-height: 300px;
  overflow-y: auto;
}

.testimonials__container.show-more {
  max-height: 500px;
}

.testimonials__row {
  display: flex;
  justify-content: space-between;
}

.testimonial {
  width: 30%;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonialImg {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.testimonialText {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
}

.testimonialAuthor {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}